

@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Kanit:wght@300;500&family=Spartan:wght@500&display=swap');



html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  /* background-image: url('https://3.bp.blogspot.com/-hy_q3ynfNZY/XMw5z1kFVzI/AAAAAAAAAV0/_jlVTDz2Lzco8kuMo8GC-vwANNGbhIOQgCLcBGAs/s1600/Screen%2BShot%2B2019-05-03%2Bat%2B8.37.04%2BPM.png');
  */
  font-family: 'Biryani', sans-serif;
   
}

.landing-pic {
  display: inline-block;
  margin: auto;
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 100%;
  /* position: relative; */
  border: solid 5px rgba(197, 193, 193, 0.651);
  display: flex;
  justify-content: center;
}

.landing-header {
  text-align: center;
  margin: 30px;
  font-weight: 900;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.like-button {
  text-align: center;
  width: 400px;
  display: flex;
  justify-content: space-around;


  margin: auto;
  border-radius: 10px;;
}

#user-name {
  font-weight: 900;
}



.iconPic{
  display: inline-block;
  margin: 0px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
}



#home {
  /* flex: 50%; */
  display: flex;
  /* background-color: darkgreen; */
  margin-right:100px;
  
}

.chat {
  display: none;
}

.chat-room-container{
   overflow: auto;
   height: 600px;
   width: 400px;
   border-radius: 10px;
   display: none;
   flex-direction: column-reverse;
   

  /* height: 300px; */
}

.chatBox{
  flex: 25%;
  margin: auto;
  padding: 20px;
  background-color: rgba(114, 224, 174, 0.219);
  width: 250px;
  border-radius: 20px;
  
}



.swipe {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  /* border: 4px solid rgba(161, 134, 134, 0.486); */
  align-self: center;
  border: none;
  /* background-color: rgba(189, 189, 189, 0.158); */
  color: rgba(28, 41, 4, 0.479);

}

.send{
  border-radius: 100%;
  height:60px;
  width: 60px;
  border: 4px solid rgba(170, 184, 165, 0.233);
  background-color: rgba(141, 167, 138, 0.24);
  color: rgba(5, 7, 1, 0.651);

}

#me {
  /* background-color: rgba(190, 142, 142, 0.637); */
  width: 300px;

}

#initiateChat{
  border-radius: 100%;
  height:60px;
  width: 60px;
  border: 4px solid rgba(143, 112, 112, 0.486);
}

.youSay {
  text-align: right;
  /* margin-top: 20px; */
}

.they-say {
  text-align: left;
  /* margin-top: 20px; */
}

.chat-div{
  background-color:rgba(158, 203, 169, 0.659);
  border-radius: 5px;
  padding: 10px;
}

.chat-names {
  font-weight: 900;
  /* color: red; */
}

.chat-body {
  color: rgb(109, 109, 109);

}

p {
  margin: 2px;
}

#swipe{
  text-align: center;
  width: 400px;
  display: flex;
  /* padding: 20px; */
  /* justify-content: space-around; */

  /* margin: auto; */
  border-radius: 10px;;
} 

#swipe-info {
  margin-top: 40px;
}

#swipe-pic {
  height: 100px;
}

#my-alerts {
  display: none;
}

#alert-content {
  display: none;
}

.single-notif {
  display: block;
}

#hide-notifs {
  display: none;
  margin: auto;
}


#red {
  /* background-color: rgb(71, 35, 42); */
  border: 5px solid rgba(158, 151, 151, 0.171);
  border-radius: 15px;
  width:400px;
 
 
}

#parent {
  /* background-color: darkblue; */
  display: flex;
  min-width: 400px;
}

#master{
  display:flex;
  justify-content: space-between;
  /* background-color: rgb(163, 157, 163); */
  width: 900px;
}

#here {
  display: flex;
}

#notifyId {
  background-color: rgba(62, 63, 75, 0.096);
  width: 390px;
  border-radius: 10px;
  border: 5px solid rgba(179, 179, 179, 0.274);
  
}

#hide-notifs {
  display: none;
  margin: auto;
  background-color: rgba(121, 122, 133, 0.541);
  width: 390px;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.212);
  color: rgb(255, 255, 255);
}

#information {
  background-color: rgba(174, 187, 171, 0.26);
  width: 300px;
  border-radius: 15px;
  margin-top: 40px;
}

#showNotifsDiv {
  margin-top: 40px;
}

.imputtowa {
  background-color: rgba(184, 187, 184, 0.199);
  height: 35px;
  border-radius: 7px;
  border: none;
}

.yourName {
  background-color: rgba(206, 209, 165, 0.466);
  border: none;
  /* color: rgb(32, 32, 0); */
  border-radius: 25%;
}
.yourName:hover {
  cursor: pointer;
}

.like {
  align-self: center;
}
/* background-color: rgba(114, 224, 175, 0.5); */
/* background-color: rgba(174, 187, 171, 0.26); */
/* background-color: rgba(114, 224, 175, 0.5); */