#profile {
  text-align: center;
  width: 400px;
  /* display: flex;
  justify-content: space-around; */
  background-color: rgba(161, 109, 109, 0.589);

  border-radius: 10px;
  display: none;
  width: 400px;
  
}

.profilePic {
  display: inline-block;
  margin: 0px;
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  border: solid 5px rgba(197, 193, 193, 0.651);
}

#image-form {
  display: none;
}

#update-pic-btn {
  margin: auto;
}

#cancel-image-upload {
  display: none;
  margin: 2px auto;
}

#choose-file-btn-div {
  margin: 2px;
  width: 100px;
  height: 40px;
  padding: 7px;
  /* background:#00ad2d; */
  /* border:1px solid #00ad2d; */
  position: relative;
  /* color:#fff; */
  /* border-radius:2px; */
  text-align: center;
  /* float: left; */
  cursor: pointer
}

#name-on-prof {
  margin-top: 10px;
}

.hide_file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  /* width: 100%; */
}
